html, body {
    padding: 0;
    margin: 0;
    background-color: #333;
    color: aqua;
    font-family: sans-serif;
}

#title {
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    padding-bottom: 15px;
}

#title a {
    text-decoration: none;
    color: inherit;
}

#status {
    text-align: center;
}

#safeties {
    text-align: center;
}

#controls-container {
    text-align: center;
}

#buttons button {
    margin: 20px 5px;
    font-size: 20px;
    width: 150px;
    height: 30px;
}

#controls-container input {
    margin: 5px;
}

.subheading {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#log-container {
    text-align: center;
}

#log-area {
    width: 50%;
    height: 500px;
    background-color: aqua;
    color: aqua;
}

#trial {
    color: yellow;
    font-size: 20px;
    background-color: red;
}

.button-container {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.button-unselected {
    margin: 5px;
    border-width: 0px;
    font-family: times;
    font-size: 20px;
    height: 35px;
    width: 150px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #ccc;
}

.button-selected {
    margin: 5px;
    border-width: 0px;
    font-family: times;
    font-size: 20px;
    height: 35px;
    width: 100px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
