html, body {
    background-color: #333;
    color: aqua;
    font-family: sans-serif;
}

#title {
    text-align: center;
    font-size: 35px;
    padding-bottom: 15px;
}

#status {
    text-align: center;
}

#safeties {
    text-align: center;
}

#controls-container {
    text-align: center;
}

#buttons button {
    margin: 20px 5px;
    font-size: 20px;
    width: 150px;
    height: 30px;
}

#controls-container input {
    margin: 5px;
}