<!DOCTYPE html>
<html>
    <head>
        <title>Hestia Web Portal</title>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body onload="refreshData()">
        <%- include('trial.html') -%>
        <div id="title"><a href='./'>Hestia Web Portal</a></div>
        <div id="status">Auger: <span id="auger-status"></span> | On Time: <span id="auger-on"></span> | Off Time: <span id="auger-off"></span> | Feed Rate: <span id="feed-rate"></span></div>
        <div id="controls-container">
            <form action="/" method="post">
                <!-- Start | Shutdown | Reload Settings -->
                <div class="button-container">
                    <input class="button-unselected" type="submit" id="ignite" value="Enable Auger" name="start"><input class="button-unselected" type="submit" id="shutdown" value="Disable Auger" name="shutdown"><input class="button-unselected" type="submit" id="reload" value="Reload" name="reload"><br>
                    <input class="button-unselected" type="submit" id="quit" value="Quit!!" name="quit"><br>
                </div>
                <!-- Set feed rates -->
                <label for="feedRate">Feed Rate: </label>
                <select name="feedRate">
                    <option value="600">Low</option>
                    <option value="800">Medium</option>
                    <option value="1000">High</option>
                </select>
            </form>
        </div>
        <!-- <div class="subheading">
            Pellet Feed Rate
        </div>
        <div class="button-container">
            <button class="button-unselected" id="low-level">LOW</button><button class="button-unselected" id="med-level">MED</button><button class="button-unselected" id="hi-level">HI</button>
        </div> -->
        <div class="button-container">
            <img src="./dancing_jesus.gif">
        </div>
        <div id="log-container">
            <button id="refresh-log" onclick="refreshData()">Refresh Log</button><br>
            <!-- <textarea id="log-area"></textarea> -->
            <iframe id="log-area" src="log.txt"></iframe>
        </div>
        <script src="./main.js"></script>
    </body>
</html>