<!DOCTYPE html>
<html>
    <head>
        <title>Hestia Web Portal</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/main.css">
    </head>
    <body onload="refreshData()" class="container">
        <%- include('trial.html') -%>
        <div id="title" class="text-center mb-4">
            <a href='./'>Hestia Web Portal</a>
        </div>
        <div id="status" class="row">
            <!--
                | Auger     | rows[0].cells[1] | On Time  | rows[0].cells[3] |
                | Feed Rate | rows[1].cells[1] | Off Time | rows[1].cells[3] |
            -->

            <table id="status-table" class="table table-bordered col-sm-12 col-md-6">
                <tr>
                    <td>Auger</td>
                    <td></td>
                    <td>On Time</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Feed Rate</td>
                    <td></td>
                    <td>Off Time</td>
                    <td></td>
                </tr>
            </table>            
        </div>
        
        
        
        <div class="controls-container">
            <form action="/" method="post">
                <!-- Start | Shutdown | Reload Settings -->
                <div class="button-container d-flex justify-content-between">
                    <input class="btn btn-outline-secondary" type="submit" id="ignite" value="Enable Auger" name="start">
                    <input class="btn btn-outline-secondary" type="submit" id="shutdown" value="Disable Auger" name="shutdown">
                </div>
                <!-- Set feed rates -->
                <div class="form-group">
                    <label for="feedRate">Feed Rate: </label>
                    <select name="feedRate" class="form-control">
                        <option value="600">Low</option>
                        <option value="800">Medium</option>
                        <option value="1000">High</option>
                    </select>
                </div>
                <div class="button-container d-flex justify-content-end">
                    <input class="btn btn-outline-secondary" type="submit" id="reload" value="Reload" name="reload">
                </div>
            </form>
        </div>
        <div class="text-center my-4">
            <img src="./dancing_jesus.gif" class="img-fluid">
        </div>
        <div id="log-container" class="row">
            <iframe id="log-area" src="log.txt" class="col-sm-12 col-md-6"></iframe>
        </div>
        <div class="controls-container">
            <form action="/" method="POST">
                <input class="btn btn-danger" type="submit" id="quit" value="Quit!!" name="quit" style="visibility: hidden;">
            </form>
        </div>
        <script src="./main.js"></script>
    </body>
</html>

